{{ if ne .Params.comments false}}
{{ if .Site.DisqusShortname }}
<div id="disqus_thread"></div>
<script type="text/javascript">

  var disqus_shortname = '{{ .Site.DisqusShortname }}';
  var disqus_url = '{{ index .Params "disqus_url" }}';

  if (disqus_url === undefined) {
    if (window.location.hostname == "localhost") {
        // do not create threads when running server locally
        disqus_url = undefined;
    } else {
        disqus_url = '{{ .Permalink }}';
    }
  }

  (function() {
    if (disqus_url == '' || disqus_url == undefined) {
        return
    }

    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }}
{{ end }}
